<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bakery.builder" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>面包工坊极速版</name>
    <description>
        一个有趣的面包烘焙经营游戏
    </description>
    <author email="cuihf06@gmail.com" href="https://github.com/cuihf06-Private/bakery-builder">
        cuihf06-Private
    </author>
    <content src="index_save.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="AndroidXEnabled" value="true" />
        <preference name="Orientation" value="landscape" />
    </platform>
    <preference name="Fullscreen" value="false" />
    <preference name="Orientation" value="landscape" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackgroundColor" value="0xFFF5DEB3" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="AutoHideSplashScreen" value="true" />
    <icon src="icon.png" />
</widget>
